

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.font-weight-title{
    font-weight: 600;
}
.font-weight-span{
    font-weight: 400;
}
.line-height{
    line-height: 1.2;
}
.font-size-span{
    font-size: 1rem;
}
.font-size-title{
    font-size: 18px;
}
span, h1, h2, h3{
    font-family: 'Noto Sans Kawi', sans-serif;
}



.form{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    max-height: 550px;
    max-width: 420px;
    border: 1px solid #BDBDBD;
    border-radius: 25px;
    padding: 60px 40px 40px 40px;
}

.form-login{
    max-height: 480px;
    width: 400px;
    border: 1px solid #BDBDBD;
    border-radius: 25px;
    padding: 60px 40px 40px 40px;
}

.container-title{
    margin-bottom: 1.2rem;
}

.container-login{
    margin-top: 1rem;
}

.container-title > div{
    margin-bottom: 1rem;
}


.input-login{
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    margin-bottom: 1rem;
}

.btn-login{
    height: 2.3rem;
    width: 100%;
    border: none;
    background-color: #2F80ED;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Noto Sans Kawi', sans-serif;
    color: white;
    font-size: .8rem;
}

.social-profile{
    font-size: .8rem;
    color: #828282;
}

.social{
    margin: 1.5rem 0 .7rem 0;
}

.member{
    margin: 1rem 0 1rem 0;
}

.container-media{
    text-align: center;
}

a{
    color: #2D9CDB;
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 20
}

.container-input-icon{
    position: relative;
    
}

.container-input-icon > input{
    padding-left: 2.5rem;
}

.container-input-icon > img{
    position: absolute;
    left: 8px; 
    top: 35%;
    transform: translateY(-50%);
}

.container-first-profile{
    display: flex;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 6rem;
}

.height-container-data{
    height: 4rem;
}
.height-container-img{
    height: 6rem;
}
.container-table{

    
    width: 50%;
    margin: auto;
}



.container-profile-data{
    border: 1px solid #E0E0E0;
    
}
.container-last-profile{
    border: 1px solid #E0E0E0;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.btn-edit{
    border: 1px solid #828282;
    border-color: #828282;
    background-color: transparent;
    margin: 1.5rem 3.5rem 0 0;
    padding: .5rem 2rem;
    border-radius: 10px;
}


.container-title-profile{
    margin-left: 3.5rem;
    padding-top: 1.5rem;
    
}

table{
    border-spacing: 0;
    
}

.data-span{
    color: #BDBDBD;
    margin-left: 3.5rem; 
    font-size: 15px;
    font-weight: 500;
}

.info-data{
    margin-left: 15rem;
}

.profile{
    font-size: 24px;
    font-weight: 400;
}

.title-personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.title-personal-info > h1{
    font-weight: 400;
    font-size: 34px;
}

.title-personal-info > h3{
    font-weight: 300;
    font-size: 15px;
}

.logout{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-right: 3rem;
}

.btn-logout{
    border: none;
    background-color: transparent;
    
}